@media screen and (max-width:1080px){
  
    /*home - menu navegação/ footeer*/

div ul.nav__conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
    gap: 1em;

}

.nav__conteudo a{
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    font-family: var(--font-principal) ;
    color: #FFFF;
    
}

.nav__conteudo li:hover{
    transform: scale(1.4);
}

/* home -  conteudo*/

div.texto_informacoes{
    margin: auto;
    margin-top: 4em;
}

div.texto_informacoes h1{
    margin: auto;
    font-weight: 600;
    font-size: 1.8em;

}
div.texto_informacoes p{
    margin: auto;
    margin-top: 1em;
    font-size: 1em;
    font-weight: 100;

}

/*imagem-icones redes sociais*/

div.img_octacat{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: 1em 1em 1em 1em;
    

}

div.icones_redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 1em 1em 1em;
   
}

hr{ 
    margin: 93px auto;
    margin-bottom: 44px;
    width: 324px;
    color: #f5ebeb21;
}

/*texto quem sou eu - formação*/

div.quem-sou-eu h1, p{
    font-size: 1em;
    font-family: var(--font-principal);
    color: #ffff;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    max-width: 300px;
}

div.quem-sou-eu{
    display: flex;
    margin: auto;
    flex-direction: column;

}

div.formacao{
    display: flex;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 1em;
    gap: 1em;

}

div.formacao h1{
    font-size: 1.8em;
    font-weight: 600;
    font-family: var(--font-principal);
    color: #ffff;
    margin: auto;
    margin-bottom: 1em;
    max-width: 400px;
}

div.formacao h2, h3{
    font-size: 0.85em;
    font-size: 400;
    max-width: 400px;
    margin: auto;
    margin-bottom: 1em;

}

hr.formacao__line{
    margin: 93px auto;
    margin-bottom: 44px;
    width: 324px;
    color: #f5ebeb21;
}

/*projetos realizados*/

.meus-projetos__container h1{
    font-size: 2em;
    font-weight: 600;
    font-family: var(--font-principal);
    color: #ffff;

}

.meus-projetos__cards {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


.meus-projetos__card img:hover{
    cursor:pointer;
    transform: scale(1.1);
 
}

}

/*pagina formação*/
div.conteudo_formacao h1, h2, h3{
 text-align: center;
}



/*formulario*/


div.formulario-contato h1{
    text-align: center;
    margin-top: 1em;
    
}



